[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
instapy = "*"

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"

[requires]
python_version = "3.6.1"

[scripts]
start          = "gunicorn --preload -w 12 -b 0.0.0.0:10015 rocketship.wsgi"
lint           = "python -m flake8"
follow         = "python features/follow.py"
unfollow       = "python features/unfollow.py"
follow-like    = "python features/follow-like.py"
like-tagged    = "python features/like-tagged.py"
follow-unfollow = "python features/follow-unfollow.py"
remove-followrq = "python features/remove-followrq.py"

